



body {
    text-align: center;
     /* <------------ */
     

}

.maindiv {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
    width: 100%;
}
@font-face {
    font-family: myFirstFont1;
    src: url(./Fonts/boldfreesans.ttf);
  }

@font-face {
    font-family: myFirstFont;
    src: url(./Fonts/freesans.ttf);
  }

h1{


color: #fff;
font-family: myFirstFont1;
margin-top: 10%;



}

.adtitles{

margin-top: 60px;

    
}

h3{

    color: #fff;
font-family: myFirstFont;


}